body, html{
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#navBar{
    height: 100px;
    background-color: #1F2833;
}
#headerNameTag{
    color: #c5c6c0;
}
.headerLinks{
    color: #c5c6c0;
    margin: 5px;
}
.headerLinks:hover{
    color: #c5c6c0;
}
#aboutMe{
    background-color: #66FCF1;
}
#portfolio{
    background-color: #45A29E;
}
#footer{
    background-color: #1F2833;
    height: 70px; 
}
.personalInfoDivs{
    font-size: 20px;
    margin: 10px;
}
.portfolioImages{
    height: 180px;
    width: 180px;
    margin: 10px;
}
.portfolioSquares{
    background-color: #c5c6c0;
    margin: 8px;
}
.thing{
    min-height: 430px;
    height: fit-content;
}
@media screen and (max-width: 360px) {
    .profileImage{
        height: 200px;
        width: 200px;
    } 
}