body,
html {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: whitesmoke;
    flex-direction: column;
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

#navLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
}

.navText{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.navText:hover{
    text-decoration: none; 
    color: grey;
}

#aboutMe {
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    background-image: url("../images/873004-black-wood-background.jpg");
}

#portfolio {
    background-color: #feffff;
}

#finishedProject {
    background-color: #bffffc;
}

#resume{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: #bffffc;
    padding-bottom: 35px;
}

#footer {
    background-color: #1F2833;
    height: 70px;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: RoyalBlue;
  }

.personalInfoDivs {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    font-size: 10px;
    margin: 10px 10px 10px 0px;
}

.infoBoxes{
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    margin: 10px;
}

.portfolioImages {
    height: 180px;
    width: 180px;
    margin: 10px;
}

.portfolioSquares {
    background-color: #c5c6c0;
    margin: 6px;
    width: 200px;
}

.projects{
    display: flex;
    flex-direction: row;
    max-width: 500px;
    align-items: center;
    color: black;
}

.thing {
    min-height: 430px;
    height: fit-content;
}

#intro{
    max-width: 900px;
}

#aboutMeContainer{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}
#profileImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
}
@media screen and (max-width: 360px) {
    .profileImage {
        height: 200px;
        width: 200px;
    }
    #profileImage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }
    #aboutBoxes{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .personalInfoDivs {
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
        font-size: 10px;
        margin: 10px 10px 10px 0px;
    }
    #navbar{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        min-height: 70px;
    }
}

@media screen and (max-width: 769px) {
    #aboutMeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 900px;
    }
}

.aboutTitle{
    margin-top: 25px;
    margin-bottom: 20px;
    color: black;
    text-decoration: underline;
}

.meText {
    text-decoration: none;
    font-size: 14px;
    color: rgb(145, 145, 145);
}

.aboutMeHeaders {
    margin: 0px 0px 2px 0px;
    color: rgb(0, 124, 133);
}

.projectTitle{
    color: rgb(0, 124, 133);
}